<!-- component -->
<!-- <div class="flex items-center h-screen w-full justify-center bg-yellow-300">

  <div class="max-w-xs min-w-3.5">
      <div class="bg-white shadow-xl rounded-lg py-3">
          <div class="photo-wrapper p-2">
              <img class="w-32 h-32 rounded-full mx-auto" [src]="userData?.picture" alt="John Doe">
          </div>
          <div class="p-2">
              <h3 class="text-center text-xl text-gray-900 font-medium leading-8">{{userData?.name}} </h3>
              <div class="text-center text-gray-400 text-xs font-semibold">
                  <p>Web Developer</p>
              </div>
              <table class="text-xs my-3">
                  <tbody>
                  <tr>
                      <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
                      <td class="px-2 py-2">{{userData?.email ?? 'NA'}} </td>
                  </tr>
              </tbody></table>

              <div class="text-center my-3">
                  <a class="text-xs text-indigo-500 italic hover:underline hover:text-indigo-600 font-medium" (click)="googleLoginService.logOut()" href="javascript:void(0) ">Sign Out</a>
              </div>

          </div>
      </div>
  </div>

  </div> -->

  <!-- component -->
<!-- follow me on twitter @asad_codes -->

<!-- <div class=" relative h-screen"> -->
  <!-- flex flex-wrap place-items-center -->
  <div class="relative">
    <div class=" flex z-20">
      <app-navbar [userData]="userData"></app-navbar>
    </div>
    <div class="pt-30 flex justify-center mx-8">
      <app-videos></app-videos>
    </div>

  </div>
  <!-- <div class="py-5">
  </div> -->
<!-- </div> -->
<!-- Does this resource worth a follow? -->
<!-- <div class="absolute bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
        <a title="Follow me on twitter" href="https://www.twitter.com/asad_codes" target="_blank" class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
            <img class="object-cover object-center w-full h-full rounded-full" src="https://www.imore.com/sites/imore.com/files/styles/large/public/field/image/2019/12/twitter-logo.jpg"/>
        </a>
    </div>
</div> -->
